
.audio-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;      
    gap: 15px;
    
    width: 100%;              
    max-width: 1200px;       
    

    margin-top: 40px;          
    margin-bottom: 40px;       
    padding: 0 20px;          
}


.audio-button {
    background: #076aff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 40px; 
}

.audio-button:hover {
    background: #084298;
    transform: scale(1.05);
}

.audio-button:active {
    transform: scale(0.95);
}

.audio-button:focus {
    outline: 3px solid #90c2ff;
}

.audio-player {
    width: 280px;
    height: 40px;
}