.conteiner-card {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
}

.imagem-card {
    width: 100%;      
    aspect-ratio: 4 / 3;
    overflow: hidden; 
}

.imagem-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    max-width: 100%;
}

.card-info {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.card-info h1 { 
    font-weight: 700;
    font-size: 1.5rem;
    word-wrap: break-word;
}

.card-info p {
    font-size: 0.875rem;
    word-wrap: break-word;
}

.card-btn {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.btn-primary {
    background-color: #1F3F7A;
    color: #fff;
    text-decoration: none;
    flex: 1;
    min-height: 2.5rem;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    text-align: center;
    word-break: break-word;
}

.btn-icon {
    background-color: #F5C531;
    width: 5.4375rem;
    height: 2.5rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
}

/* RESPONSIVIDADE DOS CARDS */
@media (max-width: 768px) {
    .card-info {
        padding: 0.75rem 0;
    }
    .card-info h1 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    .card-info p {
        font-size: 0.75rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-btn {
        flex-direction: column;
        gap: 0.5rem;
    }
    .btn-primary {
        min-height: 2rem;
        font-size: 0.7rem;
        padding: 0.3rem;
        width: 100%;
        border-radius: 0.5rem;
    }
    .btn-icon {
        width: 100%;
        height: 2rem;
        border-radius: 0.5rem;
    }
    .btn-icon img {
        height: 1rem; /* garante que o icone não fuja do container em telas pequenas */
    }
}